[class*='ds-columns-override-avada'] > .fusion-builder-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.ds-columns-override-avada-thirds > .fusion-builder-row > .fusion-layout-column {
  width: 28% !important;
  max-width: 28% !important;
  margin-right: 0% !important; }
  .ds-columns-override-avada-thirds > .fusion-builder-row > .fusion-layout-column:not(:nth-child(3n)) {
    margin-right: 8% !important; }

.ds-columns-override-avada-half > .fusion-builder-row > .fusion-layout-column {
  width: 46% !important;
  max-width: 46% !important; }
  .ds-columns-override-avada-half > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
    margin-right: 0 !important; }
  .ds-columns-override-avada-half > .fusion-builder-row > .fusion-layout-column:not(:nth-child(2n)) {
    margin-right: 8% !important; }

.ds-columns-override-avada-full > .fusion-builder-row > .fusion-layout-column {
  width: 100% !important;
  max-width: 100% !important;
  margin-right: 0% !important; }

@media (min-width: 576px) {
  .ds-columns-override-avada-sm-thirds > .fusion-builder-row > .fusion-layout-column {
    width: 28% !important;
    max-width: 28% !important; }
    .ds-columns-override-avada-sm-thirds > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-sm-thirds > .fusion-builder-row > .fusion-layout-column:not(:nth-child(3n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-sm-half > .fusion-builder-row > .fusion-layout-column {
    width: 46% !important;
    max-width: 46% !important; }
    .ds-columns-override-avada-sm-half > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-sm-half > .fusion-builder-row > .fusion-layout-column:not(:nth-child(2n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-sm-full > .fusion-builder-row > .fusion-layout-column {
    width: 100% !important;
    max-width: 100% !important; }
    .ds-columns-override-avada-sm-full > .fusion-builder-row > .fusion-layout-column:nth-child(n) {
      margin-right: 0 !important; } }
@media (min-width: 768px) {
  .ds-columns-override-avada-md-thirds > .fusion-builder-row > .fusion-layout-column {
    width: 28% !important;
    max-width: 28% !important; }
    .ds-columns-override-avada-md-thirds > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-md-thirds > .fusion-builder-row > .fusion-layout-column:not(:nth-child(3n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-md-half > .fusion-builder-row > .fusion-layout-column {
    width: 46% !important;
    max-width: 46% !important; }
    .ds-columns-override-avada-md-half > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-md-half > .fusion-builder-row > .fusion-layout-column:not(:nth-child(2n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-md-full > .fusion-builder-row > .fusion-layout-column {
    width: 100% !important;
    max-width: 100% !important; }
    .ds-columns-override-avada-md-full > .fusion-builder-row > .fusion-layout-column:nth-child(n) {
      margin-right: 0 !important; } }
@media (min-width: 992px) {
  .ds-columns-override-avada-lg-thirds > .fusion-builder-row > .fusion-layout-column {
    width: 28% !important;
    max-width: 28% !important; }
    .ds-columns-override-avada-lg-thirds > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-lg-thirds > .fusion-builder-row > .fusion-layout-column:not(:nth-child(3n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-lg-half > .fusion-builder-row > .fusion-layout-column {
    width: 46% !important;
    max-width: 46% !important; }
    .ds-columns-override-avada-lg-half > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-lg-half > .fusion-builder-row > .fusion-layout-column:not(:nth-child(2n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-lg-full > .fusion-builder-row > .fusion-layout-column {
    width: 100% !important;
    max-width: 100% !important; }
    .ds-columns-override-avada-lg-full > .fusion-builder-row > .fusion-layout-column:nth-child(n) {
      margin-right: 0 !important; } }
@media (min-width: 1200px) {
  .ds-columns-override-avada-xl-thirds > .fusion-builder-row > .fusion-layout-column {
    width: 28% !important;
    max-width: 28% !important; }
    .ds-columns-override-avada-xl-thirds > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-xl-thirds > .fusion-builder-row > .fusion-layout-column:not(:nth-child(3n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-xl-half > .fusion-builder-row > .fusion-layout-column {
    width: 46% !important;
    max-width: 46% !important; }
    .ds-columns-override-avada-xl-half > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-xl-half > .fusion-builder-row > .fusion-layout-column:not(:nth-child(2n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-xl-full > .fusion-builder-row > .fusion-layout-column {
    width: 100% !important;
    max-width: 100% !important; }
    .ds-columns-override-avada-xl-full > .fusion-builder-row > .fusion-layout-column:nth-child(n) {
      margin-right: 0 !important; } }
@media (min-width: 1680px) {
  .ds-columns-override-avada-xxl-thirds > .fusion-builder-row > .fusion-layout-column {
    width: 28% !important;
    max-width: 28% !important; }
    .ds-columns-override-avada-xxl-thirds > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-xxl-thirds > .fusion-builder-row > .fusion-layout-column:not(:nth-child(3n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-xxl-half > .fusion-builder-row > .fusion-layout-column {
    width: 46% !important;
    max-width: 46% !important; }
    .ds-columns-override-avada-xxl-half > .fusion-builder-row > .fusion-layout-column:not(:first-child) {
      margin-right: 0 !important; }
    .ds-columns-override-avada-xxl-half > .fusion-builder-row > .fusion-layout-column:not(:nth-child(2n)) {
      margin-right: 8% !important; }

  .ds-columns-override-avada-xxl-full > .fusion-builder-row > .fusion-layout-column {
    width: 100% !important;
    max-width: 100% !important; }
    .ds-columns-override-avada-xxl-full > .fusion-builder-row > .fusion-layout-column:nth-child(n) {
      margin-right: 0 !important; } }

/*# sourceMappingURL=avada-column-overrides.css.map */
